<p>
  Я рад что попал на этот курс! Это мой первый курс по пронграммированию.
  
  Всё было очень интересно и слабо понятно, а когда приступил к домашнему заданию, то понял, 
  что почти ничего не запомнил и убедился в том, что нужно всё учить с нуля.

  Ещё было ощущение, что начали мы не с начала, а с середины или какогото следующего урока.

  Но в итоге у меня появилась надежда, что я всёже смогу изучить что-то конкретное.
  Ещё мне понравилось, что Angular это наиболее полноценное приложение в сравнению с подобными решениями на рынке.
</p>